<%- include("header") -%>

<h2>About</h2>

<p>Our to-do list web app allows you to create and customize your own to-do lists with ease. With a simple and intuitive interface, you can easily add, edit, and complete tasks as you work through your day. Stay organized and on top of your schedule with our customizable to-do lists.</p>

<%- include("footer") -%>
